$max-width: 1200px;

body {
    font-family: "Space Mono", monospace;
}

ul.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px auto;
    max-width: $max-width;
}

ul.nav-list li a {
    color: #A212FF;
    font-weight: bold;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: $max-width;
    padding: 0 20px;
}
