:root {
    --footer-height: 30px;
    --nav-height: 50px;
    --vertical-padding: 20px;
}

a {
    color: #A212FF;
}

body {
    font-family: "Space Mono", monospace;
    margin: 0;
}

footer {
    margin: auto;
    color: #808080;
    font-size: 0.8rem;
    line-height: var(--footer-height);
    width: fit-content;
}

li span.post-date {
    display: inline-block;
    width: 140px;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 5vh);
    padding: 0 var(--vertical-padding);
}

ul.nav-list {
    display: flex;
    justify-content: space-between;
    line-height: var(--nav-height);
    list-style: none;
    margin: 0 auto 5vh;
    max-width: 1200px;
    padding: 0 var(--vertical-padding);
}

ul.nav-list li a {
    font-weight: bold;
}

ul.posts {
    align-self: flex-start;
}
