body {
    font-family: "Space Mono", monospace;
}

a {
    color: #A212FF;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}

ul.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px auto 50px;
    max-width: 1200px;
    padding: 0;
}

ul.nav-list li a {
    font-weight: bold;
}

ul.posts {
    align-self: flex-start;
}

li span.post-date {
    display: inline-block;
    width: 140px;
}
